<a href="https://colab.research.google.com/github/Samgaware/Python-assignment-1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.-> Experiment with 5 lists in built function.

In [ ]:
Record=[1, "SAM", "BCS", "UDGIR"]
print(Record)

[1, 'SAM', 'BCS', 'UDGIR']

In [ ]:
Record.clear() #Removes all the elements from the list

In [ ]:
print(Record)

[]

In [ ]:
Record=[1,"Vishwa","MCA","Hydrabad"]

In [ ]:
print(Record)

[1, 'Vishwa', 'MCA', 'Hydrabad']

In [ ]:
Record.append("SMG College")#Adds an element at the end of the list
print(Record)

[1, 'Vishwa', 'MCA', 'Hydrabad', 'SMG College']

In [ ]:
Record.insert(0,1001)#Adds an element at the specified position
print(Record)

[1001, 1, 'Vishwa', 'MCA', 'Hydrabad', 'SMG College']

In [ ]:
print(len(Record))

6

In [ ]:
y=Record.index("MCA")#Returns the index of the first element with the specified value
print(y)

3

In [ ]:
Record.pop(1)  #method removes the element at the specified position
print(Record)

[1001, 'Vishwa', 'MCA', 'Hydrabad', 'SMG College']

In [ ]:
Record.reverse()
print(Record)

['SMG College', 'Hydrabad', 'MCA', 'Vishwa', 1001]

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

2->Experiment With 5 Dictionary In Built Function.

In [ ]:
myDict={"Roll no":1001, "name":"SAMY","CITY":"UDGIR"}
print(myDict)

{'Roll no': 1001, 'name': 'SAMY', 'CITY': 'UDGIR'}

In [ ]:
X=myDict.get("name") #Returns the value of the specified key
print(X)

SAMY

In [ ]:
x = myDict.items()#Returns a list containing a tuple for each key value pair

myDict["Roll no"] = 1000

print(x)

dict_items([('Roll no', 1000), ('name', 'SAMY'), ('CITY', 'UDGIR')])

In [ ]:
x = myDict.keys()#Returns a list containing the dictionary's keys

print(x)

dict_keys(['Roll no', 'name', 'CITY'])

In [ ]:
x = myDict.values()#Returns a list of all the values in the dictionary

print(x)

dict_values([1000, 'SAMY', 'UDGIR'])

In [ ]:
myDict.popitem()#Removes the last inserted key-value pair

print(myDict)

{'Roll no': 1000, 'name': 'SAMY'}

In [ ]:
myDict.update({"GRADE": "A+"})  #Updates the dictionary with the specified key-value pairs

print(myDict)

{'Roll no': 1000, 'name': 'SAMY', 'GRADE': 'A+'}

In [ ]:
Data = myDict.copy() #Returns a copy of the dictionary

print(Data)

{'Roll no': 1000, 'name': 'SAMY', 'GRADE': 'A+'}

In [ ]:
Data.clear() #Remove  all record from dictionary

print(Data)

{}